body {
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

h1 {
    margin-top: 2%;
}

.btn {
    background-color: #EABFCB;
    width: 50%;
}

input {
    font-size: 115%;
    width: 50%;
}

.fa-4x{
    padding: 10px;
}
.number{
    padding: 20px;
    font-size: 100px;
}
.number-text{
    font-size: 40px;
    padding-top: 20px;
}